/* common */
$main-color: #fff;
$second-color: #faf7f4;
$third-color: #615b54;

* {
  font-size: 1rem;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
}
body {
  cursor: crosshair;
}
a {
  text-decoration: none;
  color: black;
}
.banner {
  background-position: center; /* 背景图片居中 */
  background-size: cover; /* 背景图片缩放以覆盖整个区域 */
  background-repeat: no-repeat; /* 防止背景图片重复 */
  max-height: 83vh;
  @media (max-width: 900px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.container {
  max-width: 900px;

  &.large {
    max-width: 1000px !important;
  }
}
.bold {
  font-weight: bold;
}
.title1 {
  letter-spacing: 0.1rem;
  font-size: 1.72rem;
  font-weight: normal;
}
.title2 {
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  font-weight: normal;
}
.text1 {
  font-size: 1.3rem;
  &.bold {
    font-weight: bold;
  }
}
.text2 {
  font-size: 1.72rem;
  &.bold {
    font-weight: bold;
  }
}
// === go top 元件
.go-top {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.go-top:hover {
  opacity: 1;
}
// === d modal 元件 ====
.d_modal {
  position: fixed;
  z-index: 100;
  background: rgba(255, 255, 255, 0.98);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden; /* 初始為不可見 */
  transition:
    opacity 0.6s ease,
    visibility 0s 0.6s; /* 透明度與可見性過渡 */
}
.d_modal_slot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  @media (max-width: 900px) {
    display: block;
  }
}
.d_modal.show {
  display: block;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.6s ease,
    visibility 0s 0s; /* 透明度變為 1 並顯示 */
}
.d_modal .js-close {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.d_modal .js-close {
  width: 45px;
  height: 45px;
  z-index: 1;
  cursor: pointer;
}
.d_modal .js-close span {
  width: 100%;
  height: 1.5px;
  background: #373737;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
}
.d_modal .js-close span:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.d_modal .js-close span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.d_modal .js-close.close1 {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

//===== Home =====
.work-exp-area {
  min-height: 400px;
  letter-spacing: 0.08rem;

  .work-exp-card {
    padding-bottom: 10px;
    .date {
      min-height: 80px;
      color: #b0b4b4 !important;
    }
    .description {
      border-left: solid 1px;
      color: black;
    }
  }
}
.skill-area {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $second-color;
  letter-spacing: 0.08rem;
  .description {
    letter-spacing: 0.15rem;
    line-height: 1.8;
  }
  .skill-enum {
    display: flex !important;
    flex-wrap: wrap !important;

    div {
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 5px;
      padding-right: 15px;
      padding-left: 15px;
      color: $third-color; /* 默認文字顏色 */
      background-color: transparent; /* 默認背景顏色為透明 */
      border: 1px solid $third-color;
      text-align: center;
      transition:
        background-color 0.3s ease,
        color 0.3s ease; /* 平滑過渡背景顏色和文字顏色 */
    }

    div:hover {
      color: white; /* 文字顏色變為白色 */
      background-color: $third-color; /* 背景顏色變為黑色 */
    }
  }
  @media (max-width: 900px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.intro-area {
  position: relative !important;
  margin-top: 95px;
  margin-bottom: 100px;
  img {
    width: 250px;
  }
  .medata {
    letter-spacing: 0.15rem;
    line-height: 1.8;
  }
  .logo {
    top: 45%;
    left: 0px !important;
    font-size: 1.2rem;
    position: absolute;
    transform: rotate(90deg);
  }
  @media (max-width: 1150px) {
    .logo {
      display: none;
    }
  }
  @media (max-width: 860px) {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 90px;
    margin-bottom: 90px;
    min-height: 0vh;

    img {
      margin-top: 20px;
      width: 100px;
    }
  }
}

.work-item-modal {
  button.mb-3 a i {
    transition: transform 0.3s ease;
  }
  button.mb-3:hover i {
    transform: translateX(5px);
  }

  img {
    max-width: 300px;
    width: 100%;
    @media (max-width: 900px) {
      margin-top: 40px;
    }
  }
  .tag {
    color: #b0b4b4;
    letter-spacing: 0.06rem;
  }
  .description {
    max-width: 400px;
    word-break: break-all;
    letter-spacing: 0.06rem;
  }
  .subtitle {
    letter-spacing: 0.18rem;
    font-size: 1.3rem;
  }
  .title {
    font-size: 1.72rem;
    letter-spacing: 0.15rem;
  }
  button {
    border: 0px;
    background: $third-color;
    height: 50px;
    width: 100%;
    max-width: 285px;
    a {
      color: #fff !important;
      text-decoration: none;
    }
  }
  @media (max-width: 900px) {
    img {
      width: 80%;
    }

    .row {
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
      .content {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }
  }
}
.work-item-area {
  background-color: #fff;
  .work-item-grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 80px 20px;
    margin-top: 40px;
    .work-item-box {
      span {
        display: block;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
      }
      div {
        display: block;
        margin-top: 0.2rem;
        letter-spacing: 0.2rem;
        font-size: 1rem;
      }
      figure:hover img {
        transform: scale(1.1);
      }
      figure {
        position: relative;
        z-index: 0;
        width: 100%;
        max-height: 280px;
        overflow: hidden;
        img {
          width: 100%;
          transition:
            transform 0.6s ease-out,
            -webkit-transform 0.6s ease-out;
        }
      }
    }
  }
  @media (max-width: 900px) {
    .work-item-grid {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
}
.footer-area {
  background-color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
