/* default */
* {
  font-size: 1rem;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
}
.container {
  max-width: 980px;
}
.bold {
  font-weight: bold;
}
.text1 {
  font-size: 1.3rem;
  &.bold {
    font-weight: bold;
  }
}
.text2 {
  font-size: 1.6rem;
  &.bold {
    font-weight: bold;
  }
}

//===== Home =====
.work-exp-area {
  background-color: #f2f2f2;
  min-height: 400px;
  .work-exp-card {
    padding-bottom: 10px;
    .date {
      min-height: 80px;
    }
    .description {
      border-left: solid 1px;
      color: black;
    }
  }
}
.skill-area {
  background-color: #f0f0f0;
  .skill-enum {
    display: flex !important;
    div {
      border-right: solid 1px;
      padding-right: 20px;
      padding-left: 20px;
      &:first-child {
        padding-left: 0px;
      }
      &:last-child {
        border-right: none; // 去掉最后一个元素的右边框
      }
    }
  }
}
.intro-area {
  position: relative !important;
  min-height: 500px;
  .logo {
    top: 45%;
    left: -25px !important;
    position: absolute;
    transform: rotate(90deg);
  }
}
.footer-area {
  background-color: #a9a9a9;
  min-height: 100px;
}
